service: budget-app-rest-api

provider:
  name: aws
  runtime: nodejs14.x

functions:
  app:
    handler: src/app.handler
    events:
      - http:
          path: /
          method: any
          cors: true
